@import "./Styles";

.form-container {
    form {
        .form-field {
            margin: 10px;
            padding: 5px;
            hr {
                width: 0%;
                margin: 0 auto;
                border: 1px solid $basketball;
                transition: .2s ease-out;
            }
            input {
                padding: 3px;
                border-radius: 4px;
                margin-top: 5px;
                background-color: $yellow-paste;
                border: 2px solid $yellow-paste;
                outline: none;
                color: $deep-red;
                transition: .2s ease-in;
            }
        }
        .form-field:hover {
            hr {
                width: 40%;
            }
        }
        input:focus {
            border: 2px solid $deep-red;
        }
        .btn-group {
            margin: 10px;
        }
    }
}