@import "./Styles";

.list-group {
    margin-bottom: 15px;
}

.list-group-item {
    font-size: 20px;
    background: transparent;
    border: none;
    color: $basketball;
    padding: 5px;
    transition: .2s ease-in-out;
    .item-name {
        font-size: 24px;
    }
}

.list-group-item:hover {
    box-shadow: 0 0 1px 1px $deep-red;
}