@import "./Styles";

.list-group {
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 1px $deep-red;
}

.list-group-item {
    font-size: 20px;
    background: transparent;
    border-color: $deep-red;
    color: $basketball;
    transition: .2s ease-out;
}

.list-group-item:hover {
    background-color: $deep-red;
    color: $yellow-paste;
}